<html><body><table>
<th>Alert Timestamp</th>
<th>Ticker</th>
<th>Observation Period</th>
<th>% Change</th>
<th>Begin Value</td>
<th>Begin Timestamp</td>
<th>End Value</th>
<th>End Timestamp</th>
<th>Modify Alert</th>
  #foreach( $alert in $alertList )
  	<td align="center">$alert.DateTimeFired</td>
  	<td align="center">$alert.Ticker</td>
  	<td align="center">$alert.TimeEventName</td>
  	<td align="right">$alert.Diff</td>
  	<td align="right">$alert.BeforeValue</td>
  	<td align="center">$alert.BeforeDateCollected</td>
  	<td align="right">$alert.AfterValue</td>
  	<td align="center">$alert.AfterDateCollected</td>
  	<td align="center">$alert.CakeEditAlertURL</td>

  #end

 </table></body></html> 
